<div class="jumbotron text-center t1">
  <h1 class="display-3 c1">{{title}}</h1>
  <h3 class="text-center c1">to Library</h3>

  <a href="/libraries/add" class="btn btn-success btn-lg mt-4">ENTER</a>
</div>

